.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

.env
.venv
airflow_env/
__pycache__/

# Airflow metadata and SQLite DB
airflow.db
airflow-webserver.pid
webserver_config.py
airflow.cfg

# Airflow logs and temp data
logs/
__pycache__/

# IDE/editor files (if applicable)
.vscode/

